db.sqlite3
Technopro/__pycache__/
Technopro/migrations/__pycache__/
static/work/back/
static/work/submission.csv
static/work/bestscore.txt
static/work/dd2angle_A01_10.csv
static/work/dd2angle_B_08.csv
static/work/dd2angle_C_M08.csv
static/work/dd2angle_D_M10.csv
