{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Technopro</title>
        {% if reload %}
        <script src="{% static 'reload.js' %}"></script>
        {% endif %}
        <link rel="stylesheet" href="{% static 'common.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <h1>Technopro</h1>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </header>
        <main class="flex-box">
            <aside class="flex-child-aside">
                <div class="line"></div>
                【説明】<br>
                <ol>
                    <li>初回のみ、最新のSIGNATE投稿ファイルをアップロードします</li>
                    <li>座標を求めたいウェイポイントの名称をリストから選択します</li>
                    <li>実行ボタンを押下します</li>
                    <li>座標を計算する処理が実行されます</li>
                    <li>計算処理が完了したら座標が表示されます</li>
                </ol>
            </aside>
            <section class="flex-child-section">
                <h2 class="blue">座標取得</h2>
                <span>{{ msg }}</span><br>
                {% if not indexform %}
                    <form action="{% url 'upload' %}" method="POST" class="form-inline" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                    <div class="col-auto">
                    <input type="file" name="file" accept="text/csv" class="form-control" required>
                    </div>
                    <div class="col-auto">
                    <button type="submit" name="btn_upload" class="btn btn-primary btn-sm">アップロード</button>
                    </div>
                    </div>
                    </form>
                {% else %}
                    <form action="{% url 'index' %}" method="POST" class="form-inline">
                    {% csrf_token %}
                    <div class="row g-1">
                    <div class="col-auto">{{ indexform.waypoint }}</div>
                    <div class="col-auto">
                    {% if reload %}
                        <button type="submit" class="btn btn-primary btn-sm" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            座標計算
                        </button>
                    {% else %}
                        <button type="submit" name="btn_index" class="btn btn-primary btn-sm">座標計算</button>
                    {% endif %}
                    </div>
                    {% if post > 0 %}
                    <div class="col-auto">
                        {% with ""|center:5 as range %}
                        {% for _ in range %}
                        {% if post == forloop.counter and progress < 100 %}
                            <span class="blink">{{ forloop.counter }}</span>
                        {% else %}
                            {{ forloop.counter }}
                        {% endif %}
                            {% if forloop.counter < 5 %}
                            -
                            {% endif %}
                        {% endfor %}
                        {% endwith %}
                    </div>
                    {% endif %}
                    </div>
                    {% if progress > 0 %}
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped {{ anime }}" role="progressbar" style="width: {{ progress }}%" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
                        </div>
                    {% endif %}
                    {% if result %}
                        <br><br>
                        ウェイポイント名：{{ result.0 }}<br>
                        座標計算結果：{{ result.2 }}N　{{ result.3 }}E<br>
                        SIGNATEスコア：{{ result.1 }}
                    {% endif %}
                    </form>
                {% endif %}
            </section>
            <section class="flex-child-section">
                <h2 class="yellow">計算結果リスト</h2>
                <ul>
                    {% for i, row in wplistfin.iterrows %}
                    <li>
                        {{ row.0 }}
                        <ul class="yoko">
                            <li>{{ row.2 }}N</li>
                            <li>{{ row.3 }}E</li>
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </main>
        <footer>© 2022 <a href="https://team-shiny.org/" target="_blank" rel="noopener noreferrer">Team-Shiny</a></footer>
        <footer>[Template] <a href="https://ninawas.me" target="_blank" rel="noopener noreferrer">NINA</a></footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>
